@import "tailwindcss";

@theme {
  --font-bakersville: "Baskervville", serif;
}

/* Use forward slashes and relative path */
@font-face {
  font-family: 'Baskervville';
  src: url('../assets/Baskervville/Baskervville-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font weight range */
  font-style: normal;
  font-display: swap;
}
